.toDo {
    border-style: solid;
    --bs-list-group-border-color: none;
    --bs-list-group-color: #0A3939;
    color: #0A3939;
    --bs-list-group-bg: white;
}

.toDoHeading {
    text-align: center;
    color: #0A3939;
}

.toDoDone {
    width: 320px;
}

.toDoLabel {
    margin: 10px;
}

.toDoStrong {
    margin-right: 10px;
}