.bgSideBar {
    background-color: #0A3939 !important;
    color: white;
    height: 978px;
}

.nav {
    --bs-nav-link-color: white !important;
    --bs-nav-link-hover-color: #D8D2B9
}

.logo {
    color: #D8D2B9;
}
